<div class="card myCard" style="width:20rem;">
    <a class="dummyLink" href="http://localhost:3001/api/games/single/{{id}}">
    <img class="card-img-top" src="{{cover_art_url}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text" style="font-family: Arial, Helvetica, sans-serif; color:rgb(248, 245, 245)">{{title}}</p>
    </a>

    <br>
        <p>Remove?  <a class="iconBtn" id="removeBtn" data-id={{id}}><i data-id={{id}} class="fa-solid fa-xmark"></i></a></p>
        {{#if playlist.played}}
                <p>Played <i class="fa-solid fa-check"></i></p>
            {{else}}
                <p>In progress  <i class="fa-solid fa-dungeon"></i></p>
                <p>Cleared the game?  <a class="iconBtn" id="completeToggle" data-id={{id}}><i data-id={{id}} class="fa-solid fa-floppy-disk"></i></a></p>
        {{/if}}
    </div>
</div>