<div class="card favoriteGame" style="width:20rem;">
    <a href="http://localhost:3001/api/games/single/{{id}}">
    <img class="card-img-top" src="{{cover_art_url}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text" style="font-family: Arial, Helvetica, sans-serif; color:rgb(248, 245, 245)">{{title}}</p>
    </a>

    <br>
        {{#if playlist.played}}
                <p>Played<i class="fa-solid fa-gamepad"></i></p>
            {{else}}
                <p>In progress<i class="fa-solid fa-dungeon"></i></p>
                <p>Cleared the game?<a class="btn btn-primary" id="completeToggle" data-id={{id}}><i class="fa-solid fa-scroll"></i></a></p>
        {{/if}}
    </div>
</div>