<div class="card gameResults" style="width:20rem;">
    <a href="http://localhost:3001/api/games/single/{{id}}">
    <img class="card-img-top" src="{{cover_art_url}}" alt="Card image cap">
    <div class="card-body">
        <h6 class="card-text" style="font-family: Arial, Helvetica, sans-serif; color:rgb(248, 245, 245)">{{title}}</h6>
        <div class='ratingDiv'>
            <p>{{rating}}/100</p>
            {{getStars rating}}
        </div>
    </a>

    <br>
        <button type='button' data-id= {{id}} id="addPBtn" class="btn btn-primary">★ Favorite</button>
        <button id='addRBtn' data-id= {{id}} data-rating={{rating}} class="btn btn-primary">+ Review</button>
    </div>
</div>