<section>
  <div class="textWhite">
    <div class="search">
      <p style="textWhite">Search our database</p>
      <div>
        <form>
          <input type="search" id="searchBar" class="form-control form-control-lg" />
          <button style="margin-left: 20px;" class="myBtn" type="submit" id="searchSubmit" for="search">Search</button>
        </form>  
      </div>
    </div>
  </div>

  <div class="blkDiv"> 
    <div id="gameDetails">
      <section>
        <div id="headerDiv">
          <div> 
            <h2 class="textRed">{{gameResult.title}}</h2>
            <p class="textWhite">Release Date: {{getDate gameResult.release_date}}</p>  
          </div>
          <img style="width: 18rem; heigh:20rem" src="{{gameResult.cover_art_url}}"/>
        </div>

        <div id="infoDiv">
          <section>
            <h4 class="textRed">Game rating: {{gameResult.rating}}/100</h4>
            <p class="textWhite">{{gameResult.description}}</p>
          </section>

          <section>
            <h4 class="textRed">Genres:</h4>
            <div id="genreTags">
              {{#each gameResult.genres as |gTag|}}
                {{> gTag}}
              {{/each}}
            </div>
          </section>
          

          
      <div id="trailerDiv">
        <h4 class="textRed">Trailer</h4>
        <iframe src="{{gameResult.trailer_url}}"></iframe>
      </div>
        </div>
      </section>

      <button data-id={{gameResult.id}}  id="addPBtn" class="btn btn-primary">★ Favorite</button>
    </div>
  </div>

  <div class="blkDiv">
    <div class="text-white">
      <div>
          <h2 >Reviews</h2>
          <button id='addRBtn' data-id= {{gameResult.id}} data-rating={{gameResult.rating}} class="btn btn-primary">Leave a Review +</button>
          
          <div>
          {{#if gameResult.reviews}}
            {{#each gameResult.reviews as |review|}}
              {{> review}}
            {{/each}}
            
          {{else}}
            <h1 class="textWhite" style="text-align: center"> Sorry no reviews just yet :(.</h1>
          {{/if}}
          </div>
        </div>
  </section>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script rel="script" src="/public/js/games.js"></script>
<script src="/public/js/search.js"></script>
